
.about-container {
  transition: background-color 0.3s ease-in-out;
  display: flex;
  flex-direction: column; /* Set default flex direction to column */
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the transparency as needed */
  pointer-events: none; /* Allows click-through to elements beneath the overlay */
}

/* Responsive styles for smaller screens (adjust breakpoints as needed) */
@media (max-width: 768px) {
  .about-container {
    padding: 20px; /* Add padding to the container for smaller screens */
  }

  .overlay {
    /* You can adjust styles for the overlay on smaller screens if needed */
  }

  /* Styles to make the navbar and menu bar visible on smaller screens */
  .navbar, .menu-bar {
    display: block;
  }

  /* Adjust the order of elements for responsive layout */
  .about-container {
    order: 2; /* Change the order to 2 on smaller screens */
  }
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 10px;
  list-style: none;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.nav-links {
  text-decoration: none;
  color: #222;
  padding: 0.7rem 1rem;
  white-space: nowrap;
}

.nav-links i {
  padding-right: 10px;
}

.nav-links:hover {
  background: rgb(80, 80, 230);
  border-radius: 4px 4px 4px;
  transition: all 0.2s ease-in-out;
}

.fa-bars,
.fa-times {
  color: #222;
}

.menu-icon {
  display: none;
}

.nav-links-mobile {
  padding: 0.5rem 1rem;
  white-space: nowrap;
  background-color: #fafafa;
  border-radius: 3px;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 500;
  color: #222;
}

@media screen and (max-width: 850px) {
  .NavbarItems {
    z-index: 1; /* Adjust the value as needed */
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: -110%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
    z-index: -1; /* Adjust the value as needed */
    transition: left 0.3s ease-in-out;
  }

  .nav-menu.active {
    left: 0%;
  }

  .nav-links {
    display: block;
    width: 100%;
    padding: 2rem;
    color: #222;
  }

  .nav-links:hover {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(20px);
  }

  .menu-icon {
    display: block;
  }

  .nav-links-mobile {
    padding: 1.5rem;
    display: block;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
    width: 90%;
    margin: auto;
  }
}