.section {
    margin-top: 5rem;
    
}

.ai-image-generator {
    display: flex;
    flex-direction: column;
    /* Center content vertically */
    align-items: center;
    margin-top: 80px;
    margin-bottom: 20px;
    gap: 30px;
   
}

.header {
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 30px;
}

.header span {
    color: #DE1B89;
    font-weight: 600;
}

.img-loading {
    display: flex;
    flex-direction: column;
    
}

.img-loading img {
    max-width: 90%; /* Limit the maximum width of the image */
    height: 500px;
    width: 700px; 
   
}

.img-container {
    display: flex;
    justify-content: center; /* Center content horizontally */ }
.search-input {
        width: 900px; /* Adjust the width as needed */
        height: 50px; /* Adjust the height as needed */
        background: transparent;
        font-size: 16px; /* Adjust the font size as needed */
        /* Add any additional styles you need */
        border: none;
        outline: none;
        font-size: 18px;
        color: white;
        padding-left: 35px;
        padding-right: 35px;
}
.search-box{
    display: flex;
    width: 1000px;
   
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    background: #f9aaaa90;
}
